#!/bin/bash
. ~/ogg.env
export ORACLE_HOME={{ my_source.gg_config.oracle_home }}
export ORACLE_GG_HOME={{ source_oracle_gg_home }}
#export LD_LIBRARY_PATH=/usr/lib:/u01/app/oracle/product/12.2.0/dbhome_2:/u01/app/oracle/product/11.2.0/dbhome_1/lib:$ORACLE_GG_HOME
export LD_LIBRARY_PATH=/usr/lib:/u01/app/oracle/product/12.2.0/dbhome_2/lib:$ORACLE_GG_HOME
export PATH=$PATH:$ORACLE_GG_HOME:.
cd $ORACLE_GG_HOME
ggsci <<EOF
info all

{% if run_mode == 'safe' %}
-- Remove this line by setting the 'run_mode' variable in the main playbook
exit
{% endif %}

{% for item in streams %}
{% if ( item.stream.suffix == stream ) %}
register extract {{ item.stream.suffix }}{{ stream }} database
add extract {{ item.stream.extr }}{{ item.stream.suffix }}, integrated tranlog, begin now
add exttrail ./dirdat/{{ stream }}, extract {{ item.stream.extr }}{{ stream }}, megabytes {{ item.stream.megabytes }}
start extract {{ item.stream.extr}}{{ stream }}
{% endif %}
{% endfor %}
exit
EOF
exit 0
